* {
	margin: 0;
}

$blue:#0CB2BF;
$gray:#D0DBDA;
$white:#F5F9C0;
$brown:#574444;

body{
	max-width: 1600px;
	margin: 0 auto;
}
.center {
	display:flex;
	justify-content:center;
	align-items:center;
}
.beet{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.beet2{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.navigator {
	padding: 10px;
	font-size: 20px;
	gap:10px;
	display: flex;
	& > p{
		cursor: pointer;
	}
	&-selected{
		font-weight: 800;
		color: $blue;
	}
}

.form {
	width:100%;
	height:100vh;
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
	background-color: rgba(0, 0, 0,0.3);

	& form {
		width: 360px;
		background-color: $blue;
		gap:10px;
		padding: 10px;
	}

	&__block{
		width:100%;
		display: flex;
		gap:10px;
		align-items: center;
	}

	& input , select , textarea {
		width: 80%;
		height: 25px;
		border-radius: 20px;
		padding-right: 10px;
		padding-left: 10px;
		box-sizing: border-box;
		color:$gray;
		border: none;
		outline: none;
		&:focus{
			border:5px solid $white;
		}
	}

	label {
		color:$gray;
	}

	textarea {
		resize: vertical;
		height: 50px;
		max-height: 300px;
	}

	button {
		width: 80%;
		height: 30px;
		background-color: $gray;
		color: $blue;
		font-weight: 900;
		border:none;
		border-radius: 10px;
		box-sizing: border-box;
		outline: none;
		&:focus{
			border:5px solid $white;
		}
	}
	&__controls {
		width: 180px;
		& button {
			width: 70px;
		}
	}
	&__error {
		color:red;
		font-size: 15px;
	}
}

.table {
	width: 90%;
	gap:10px;
	margin: 20px auto;
	&__head {
		background-color: $gray;
		height: 38px;
		color:$blue;
		font-weight: 900;
		font-size: 20px;
		align-items: center;
	}
	& img {
		height: 30px;
	}
	&__row {
		background-color: $blue;
		width:100% !important;
		height: 35px;
		color:$brown;
		font-size: 14px;
		align-items: center;
	}
	&__flow{
		overflow: auto;
		max-height: 700px;
		display: flex;
		width:100%;
		gap:10px;
		flex-direction: column;
	}
	&__textOverlap{
		text-overflow: ellipsis;
		overflow: hidden;
		max-height: 16px;
		max-width: 25vw;
	}
	&__createNote{
		padding: 7px;
		border-radius: 20px;
		background-color: $blue;
		color:$white;
		border:none;
		outline: none;
		align-self: flex-end;
		cursor: pointer;
	}

}
.notes-grid{
	display: grid;
	grid-template-columns: repeat(3,1fr) 2fr 1fr repeat(3,50px);
	gap:10px;
	width:100%;
	& img {
		cursor: pointer;
	}
}

.statistics-grids{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	width: 100%;
	justify-items: center;
}